.jumbotron {
    background-color: #e1dfd5;
    color: #ffffff;
    margin-top: 50px;
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;
    padding-top: 10%;
}
footer {
    padding: 10px 10px 0 10px;
    background-color: #e1dfd5;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #341b8e;
}
.card-hotel {
    flex: 1 200px;
    margin-top: 10px; 
}
.btn-reserva {
    width: 100%;
    background-color: #e1dfd5;
    border-radius: 0px;
    color: #341b8e;
    border: 0;
}
.footer-address-icon{
	padding-right: 10px;
}
.plussymbol{
	padding-right: 10px;
}
.tab-content{
	padding-top: 10px;
}