.jumbotron {
  background-color: #E87F4D;
  color: black;
  margin-top: 50px;
  /*background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;
    padding-top: 10%;*/
  margin-top: 50px;
  margin-bottom: 20px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #4F788D;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #ffffff; }
  footer a {
    color: #ffffff; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px; }

.btn-reserva {
  width: 100%;
  background-color: #2F4A57;
  border-radius: 0px;
  color: #ffffff;
  border: 0; }

.footer-address-icon {
  padding-right: 10px; }

.plussymbol {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }

#topbtns .btn {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 2em; }

.btn-green {
  background: #2ecc71; }
  .btn-green:hover {
    background: #26ab5f;
    transition: all 0.3s ease; }
  .btn-green:active {
    background: #176437; }

.btn-blue {
  background: #3498db; }
  .btn-blue:hover {
    background: #2383c4;
    transition: all 0.3s ease; }
  .btn-blue:active {
    background: #16527a; }

.btn-yellow {
  background: #f1c40f; }
  .btn-yellow:hover {
    background: #cba50c;
    transition: all 0.3s ease; }
  .btn-yellow:active {
    background: #796307; }
