$orange: #E87F4D;
$botones: #2F4A57;
$piedepagina: #4F788D;
$colorbtns: #ffffff;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin espacios($top, $bottom, $left, $right){
    padding-top: $top;
    padding-bottom: $bottom;
    padding-left: $left;
    padding-right: $right;
}

.jumbotron {
    background-color: $orange;
    color: black;
    margin-top: 50px;
    /*background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;
    padding-top: 10%;*/
    @include margenes(50px, 20px);

}
footer {
    padding: 10px 10px 0 10px;
    background-color: $piedepagina;
    @include margenes(10px, 0px);
    @include espacios(30px, 30px, 30px, 30px);
    color: $colorbtns;

    a{
      color: $colorbtns;  
    }
}
.card-hotel {
    flex: 1 200px;
    margin-top: 10px; 
}
.btn-reserva {
    width: 100%;
    background-color: $botones;
    border-radius: 0px;
    color: $colorbtns;
    border: 0;
}
.footer-address-icon{
	padding-right: 10px;
}
.plussymbol{
	padding-right: 10px;
}
.tab-content{
	padding-top: 10px;
}

@mixin button-bg($bg) {
  background: $bg;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  } 
}

#topbtns .btn {
 color:white;
 text-decoration:none;
 padding:5px 10px;
 border-radius:3px;
 font-size:2em;
}

.btn-green {
   @include button-bg(#2ecc71);
}

.btn-blue {
   @include button-bg(#3498db);
}

.btn-yellow{
   @include button-bg(#f1c40f);
}
